<Alloy>
	<View layout="vertical">
		<View top = "0dp" height="100dp" backgroundColor="white"  layout="vertical">
			<ImageView image = "/images/profile.png" left = "10dp"></ImageView>
			<Label id = "name" text = "Tutme"/>
			<View id = "saprater" color = "black" width="2dp" top = "5dp"/>
		</View>
		<TableView id="menuTable" backgroundColor="white" top="0" scrollable="false"></TableView>
	</View>
</Alloy>
<!-- onClick="doMenuClick" -->